<div class="container">
  <div class="row d-flex justify-content-center g-5">

    <!-- KITTEN FORM -->
    <div class="col col-sm-4">
      <app-kitten-form (newKitten)="receiveNewKitten($event)"></app-kitten-form>
    </div>

    <!-- KITTEN LIST -->
    <div class="col col-sm-4 justify-content-center">
      <h2>Adopter un catounet</h2>
      <ng-container *ngFor="let kitten of kittens">
        <ng-container *ngIf="kitten.isAdopted === false">

          <div class="mt-2 d-flex" style="width: 12rem;">
            <img src="{{ kitten.image }}" class="card-img-top" id="{{ kitten.image }}" (mouseover)="showInfo($event)" (mouseout)="hideInfo()">
            
            <div class="card-body text-center ms-2" *ngIf="selectedKitten">
              <h5 class="card-title">{{ kitten.name }}</h5>
              <p class="card-text">Race : {{ kitten.race }}</p>
              <p class="card-text">{{ kitten.dateOfBirth }}</p>
            </div>
            <button class="btn btn-primary mx-1" (click)="adoptThisKitten(kitten)">Adopter</button>
          </div>

        </ng-container>
      </ng-container>
    </div>

    <!-- KITTEN ADOPTED -->
    <div class="col col-sm-4 ">
      <h2>Les catounets adoptés</h2>

      <app-kitten-aside [kittenAdopted]="kittens"></app-kitten-aside>

    </div>
  </div>
