<!-- Mon Component -->
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container">
  <h1 appHightLight>{{ title }}</h1>
  
  <div class="row mt-5">
    <div class="col-6">
      <app-button></app-button>
    </div>
  
    <div class="col-6">
      <h1>Atelier</h1>
      <app-card></app-card>
    </div>
  </div>
  

  <div class="row mt-5">
    <div class="col-6">
      <app-movie></app-movie>
    </div>

      <div class="col-6">
        <app-calculatrice></app-calculatrice>
    </div>
  
    <router-outlet></router-outlet>
  </div>
</div>
