<form class="d-flex flex-column" >
  <label>Username:<input type="text" [formControl]="username"></label>
  <label>email:<input type="text" [formControl]="email"></label>
  <label>password:<input type="text" [formControl]="password"></label>
  <label>street:<input type="text" [formControl]="street"></label>
  <label>zipcode:<input type="text" [formControl]="zipcode"></label>
  <label>city:<input type="text" [formControl]="city"></label>
  <button type="button" (click)="createUser()">Inscription</button>
</form>
<div>
  <p>{{ user.username }}</p>
  <p>{{ user.email }}</p>
  <p>{{ user.password }}</p>
  <p>{{ user.street }}</p>
  <p>{{ user.zipcode }}</p>
  <p>{{ user.city }}</p>
</div>
