<form class="d-flex flex-column" [formGroup]="credentials" (ngSubmit)="onSubmit()">
  <label>Username:<input type="text" formControlName="username"></label>
  <label>email:<input type="text" formControlName="email"></label>
  <label>password:<input type="text" formControlName="password"></label>
  <div formGroupName="address">
    <label>street:<input type="text" formControlName="street"></label>
  <label>zipcode:<input type="text" formControlName="zipcode"></label>
  <label>city:<input type="text" formControlName="city"></label>
</div>
  <button type="submit" [disabled]="!credentials.valid ">Inscription</button>
</form>
<div>
  <p>{{ user.username }}</p>
  <p>{{ user.email }}</p>
  <p>{{ user.password }}</p>
  <p>{{ user.street }}</p>
  <p>{{ user.zipcode }}</p>
  <p>{{ user.city }}</p>
</div>
